body {
    text-align: center;
    background-color: #001F3F;
    font-family: 'Press Start 2P', cursive;
  }
  
  #level-title {
    font-size: 3rem;
    margin: 5%;
    color: #FFC857;
    text-shadow: 2px 2px #FF6F61;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
    gap: 20px;
  }
  
  .btn {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 5px solid #333;
    border-radius: 15%;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .game-over {
    background-color: #FF6F61;
    opacity: 0.9;
  }
  
  .red {
    background-color: #FF5733;
  }
  
  .green {
    background-color: #28B463;
  }
  
  .blue {
    background-color: #3498DB;
  }
  
  .yellow {
    background-color: #FFC300;
  }
  
  .pressed {
    box-shadow: 0 0 30px #FFF;
    background-color: #666;
  }
  